

    <div class="container">
      <h1>Create New Project</h1>
      <p>Pick one item for generator, create a new project</p>




      <div class="listview">
 
       <div class="listview-item bg-color-blue">
          <div class="pull-left" href="#">
             <div class="listview-item-object icon-layers"></div>
          </div>
          <div class="listview-item-body">
             <h4 class="listview-item-heading">Expressjs</h4>
             <p class="two-lines">Node.js basic project, base on Expressjs.</p>
         </div>
       </div>
     
       <div class="listview-item bg-color-green">
          <div class="pull-left" href="#">
             <div class="listview-item-object icon-chat"></div>
          </div>
          <div class="listview-item-body">
             <h4 class="listview-item-heading">Chat example</h4>
             <p>chat room example, a simple chatroom</p>
             <p>expressjs with socket.io, a realtime framework</p>
          </div>
       </div>
     
       <div class="listview-item bg-color-orange">
          <div class="pull-left" href="#">
             <div class="listview-item-object icon-pen-alt-fill"></div>
          </div>
          <div class="listview-item-body">
             <h4 class="listview-item-heading">Staic page project</h4>
             <p>static page with angular and different kind of bootstrap style</p>
          </div>
       </div>
     
       <div class="listview-item bg-color-grayLight">
          <div class="pull-left" href="#">
             <div class="listview-item-object icon-database"></div>
          </div>
          <div class="listview-item-body">
             <h4 class="listview-item-heading">Dababase project</h4>
             <p class="two-lines">Database management project with ORM system</p>
         </div>
       </div>
     
       <div class="listview-item bg-color-yellow">
          <div class="pull-left" href="#">
             <div class="listview-item-object icon-github"></div>
          </div>
          <div class="listview-item-body">
             <h4 class="listview-item-heading">Media heading</h4>
             <p class="two-lines">Body text that wraps over two lines, IcoMoon icon on the left.</p>
         </div>
       </div>
    </div>
    </div>



