<!DOCTYPE html>
<html>
  <head>
    <title>Node.js container and generator</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/min/bootmetro-ui-light.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/min/bootmetro.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/min/bootmetro-icons.min.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">


    <script type="text/javascript" src='/javascripts/vendor/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='/javascripts/vendor/angular.min.js'></script>
  </head>
  <body ng-app="app">


    <div class="win-commandlayout win-ui-dark">
      <div class="container">
        <a class="win-command" href="/">
           <span class="win-commandicon win-commandring icon-home"></span>
           <span class="win-label">Home</span>
        </a>
        <a class="win-command" href="#/projectList">
           <span class="win-commandicon win-commandring icon-list-3"></span>
           <span class="win-label">List Project</span>
        </a>
        <hr class="win-command" />
        <a class="win-command" href="#/create">
           <span class="win-commandicon win-commandring icon-plus-5"></span>
           <span class="win-label">Create</span>
        </a>
        <a class="win-command" href="#">
           <span class="win-commandicon win-commandring icon-stop"></span>
           <span class="win-label">Stop</span>
        </a>
   
        <button class="win-command">
           <span class="win-commandicon win-commandring icon-reload"></span>
           <span class="win-label">Reload</span>
        </button>
        <hr class="win-command" />

        <a class="win-command start" href="#">
           <span class="win-commandicon win-commandring icon-play"></span>
           <span class="win-label">Start</span>
        </a>
      </div>
    </div>
    <div class="container slide" ng-animate="{enter: 'view-enter'}" ng-view>
      <%- body %>
    </div><!-- end .container -->
    <script type="text/javascript" src='/javascripts/app.js'></script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '__GID__']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>

</html>