
      <h1>Project List</h1>
      <p>List all your own project</p>
<div class="metro">

   <table id="textonly" class="table">
      <thead>
         <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Link</th>
         </tr>
      </thead>
      <tbody class="">
         <tr>
            <td><strong>TileSquareBlock</strong></td>
            <td>One short string of large block text over a single, short line of bold, regular text.</td>
            <td>
               <a class="tile square text tilesquareblock" href="#">
                  <div class="text-big">22</div>
                  <div class="text">Text field 2</div>
               </a>
            </td>
         </tr>
         <tr>
            <td><strong>TileSquareText01</strong></td>
            <td>One header string in larger text on the first line; three strings of regular text on each of the next three lines. Text does not wrap.</td>
            <td>
               <a class="tile square text" href="#">
                  <div class="text-header">Header</div>
                  <div class="text">Text field 1</div>
                  <div class="text">Text field 2</div>
                  <div class="text">Text field 3</div>
               </a>
            </td>
         </tr>
         <tr>
            <td><strong>TileSquareText02</strong></td>
            <td>One header string in larger text on the first line, over one string of regular text wrapped over a maximum of three lines.</td>
            <td>
               <a class="tile square text" href="#">
                  <div class="text-header">Header</div>
                  <div class="text3">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</div>
               </a>
            </td>
         </tr>
         <tr>
            <td><strong>TileSquareText03</strong></td>
            <td>Four strings of regular text on four lines. Text does not wrap.</td>
            <td>
               <a class="tile square text" href="#">
                  <div class="text">Text field 1</div>
                  <div class="text">Text field 2</div>
                  <div class="text">Text field 3</div>
                  <div class="text">Text field 4</div>
               </a>
            </td>
         </tr>
         <tr>
            <td><strong>TileSquareText04</strong></td>
            <td>One string of regular text wrapped over a maximum of four lines.</td>
            <td>
               <a class="tile square text" href="#">
                  <div class="text4">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</div>
               </a>
            </td>
         </tr>
      </tbody>
   </table>
</div>   
      