
.win-ui-dark .win-command.start .win-commandicon,
.win-ui-dark .win-command.start .win-label {
  color: #01a31c;
}
.win-ui-dark .win-command.start .win-commandring {
  border-color: #01a31c;
}

#createDetail {
	position: relative;
}
#loading-mask {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	top: 0;
	position: absolute;
}